

.btn{
    color:white;
    background-color: black;
    margin-right:3px;
    padding: 10px;
    column-gap: 15px;
}

.family{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.faltu-div{
    display: flex;
}
